{% extends 'base.html.twig' %}

{% block title %}BierHuis | Mandje{% endblock %}

{% block body %}
    {%  for message in app.flashes("succes") %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {%  endfor %}

    {%  for message in app.flashes("error") %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {%  endfor %}


    {% if bieren is not defined %}
        <h3 class="text-center mt-5">Je mandje is momenteel leeg</h3>
    {% elseif bieren == null %}
        <h3 class="text-center mt-5">Je mandje is momenteel leeg</h3>
    {% else %}
        <div class="mandje">
            <h3 class="mt-5">Mandje</h3>
            <table class="table table-striped mt-5">
                <thead>
                <tr>
                    <th>Bier</th>
                    <th class="text-right">Prijs</th>
                    <th class="text-right">Aantal</th>
                    <th class="text-right">Te betalen</th>
                </tr>
                </thead>
                <tbody>
                {% set totaalbedrag = 0 %}
                {% for bier in bieren %}
                    <tr>
                        <td><a class="btn btn-default" href={{ path("bieren.bier", {id: bier.id}) }}>{{ bier.naam }}</a></td>
                        <td class="text-right">€{{ bier.prijs | number_format(2, ',', '.') }}</td>
                        <td class="text-right">{{ bier.aantal }}</td>
                        <td class="text-right">€{{ (bier.prijs * bier.aantal) | number_format(2, ',', '.')}}</td>
                    </tr>
                    {% set totaalbedrag = totaalbedrag + bier.prijs * bier.aantal %}
                {%  endfor %}
                </tbody>
            </table>

            <h4 class="text-left">Totaal: €{{ totaalbedrag | number_format(2, ',', '.')}} </h4>
            <br>
{#            <form action="{{ path("mandje.bestel") }}" method="POST">#}
{#                <button type="submit" class="btn btn-primary" name="submit">Bestelling plaatsen</button>#}
{#            </form>#}
            {{ form(form) }}
        </div>
    {% endif %}

{% endblock %}
