{% extends 'base.html.twig' %}

{% block title %}BierHuis | Bieren{% endblock %}

{% block body %}
    <h3>Bieren:</h3>

    <table class="table table-striped">
        <tbody>
        {% for bier in bieren %}
            <tr>
                <td>{{ bier.naam }}</td>
                <td>{{ bier.prijs }}</td>
                <td class="float-right"><a href="{{ path("bieren.bier", {id: bier.id}) }}" class="btn btn-secondary">View</a></td>
            </tr>
        {%  endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if page != 1 %}
            <a class="btn btn-info links-first" href="{{ path("bieren.bieren", {page: 1}) }}">{{ 1 }}</a>
        {% endif %}

        {% set pagina = page %}

        {% if pagina < 5 %}
            {% set pagina = 6 %}
        {%  elseif pagina >= aantalPaginas %}
            {% set pagina = aantalPaginas - 5 %}
        {% endif %}

        {% for i in pagina - 5..pagina + 5 %}
            {% if i == page %}
                <a class="btn btn-dark links-active">{{ i }}</a>
            {% else %}
                <a class="btn btn-primary links" href="{{ path("bieren.bieren", {page: i}) }}">{{ i }}</a>
            {% endif %}
        {% endfor %}

        {% if page != aantalPaginas %}
            <a class="btn btn-info links-last" href="{{ path("bieren.bieren", {page: aantalPaginas}) }}">{{ aantalPaginas }}</a>
        {% endif %}
    </div>
{% endblock %}
